body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  gap: 5px;
}

input, button, select {
  padding: 8px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  margin-top: 10px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.delete {
  color: red;
  cursor: pointer;
}
